.paper {
    background-color: _palette(paper);
    color: _palette(bg);
}

.paper.paper--alt {
    background-color: _palette(bg-alt);
    color: white;
}

#main .paper.paper--testimonials {
    border-top: 40px solid _palette(bg-alt);
}

.paper h1, .paper h2, .paper h3, .paper h4, .paper h5, .paper h6 {
    color: _palette(bg);
}

.paper.paper--alt h1, .paper.paper--alt h2, .paper.paper--alt h3, .paper.paper--alt h4, .paper.paper--alt h5, .paper.paper--alt h6 {
    color: white;
}

.paper .lead {
    font-size: 110%;
    font-weight: 500;
    margin-bottom: 2em;
}

.paper header.major {
    width: auto;
}

.paper header.major h1 {
    width: auto;
    color: _palette(bg-alt);
}
.paper header.major >:first-child:after {
    background-color:_palette(bg-alt);
}

.paper strong {
    color: _palette(bg);
}